body {
    font-family: Arial, sans-serif;
    padding-bottom: 6em;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5em;
    border-top: 2px solid #000;
    padding-top: 1em;
    background-color: white;
}

.footer {

}

.grid-storefront {
    grid-template-columns: auto;
}

form {
    max-width: 100%;
}

#introduction {
    justify-items: center;
    justify-content: center;
    text-align: center;
}

#introduction h3 {
    font-weight: bold;
    font-size: 2em;
}

#introduction p {
    text-align: left;
}

#introPhoto {
    padding-bottom: 1em;
}

.mainText {
    padding-top: 1em;
    border-top: 2px solid #000;
    font-size: 24px;
    border-bottom: 2px solid #000;
}

/* Media Query for Tablet */
@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    .grid-storefront {
        grid-template-columns: auto auto auto;
    }
}

/* Media Query for Desktop */
@media screen and (min-width: 1280px) {

body {
    font-family: Arial, sans-serif;
    padding-bottom: 6em;
}

p {
    margin-left: 1%;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5em;
    border-top: 2px solid #000;
    padding-top: 1em;
    background-color: white;
}

.footer {

}

.grid-storefront {
    display: grid;
    grid-template-columns: auto;
}

form {
    max-width: 100%;
}

#introduction {
    justify-items: center;
    justify-content: center;
}

#introduction h3 {
    font-weight: bold;
    font-size: 2em;
}

#introduction img {
    text-align: center;
    justify-content: center;
}

#introPhoto {
    padding-bottom: 1em;
}

/* Image for portfolio */
.imageIntro {
    width: 35%;
    height: 35%;
    border-radius: 25px;
    border: 2px solid;
    margin: 1%;
}

/* Raleway font from google with a weight of 300 */
.raleway-paragraph {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Collapsible content styles */
.collapsible {
    background-color: #4444ff;
    color: #eee;
    cursor: pointer;
    padding: 8px;
    width: 75%;
    border: 2px solid #444;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 1%;
}
  
/* Style for hovering over the collapsible content or while active */
.active, .collapsible:hover {
    background-color: #44448b;
}
  
/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #add8e6;
    margin-left: 1%;
    width: 75%;
}

/* Styling for the footer on Ashton's page */
#contactAshton {
    list-style-type: none;
}

/* Header styles */
h3 {
    padding-top: 1em;
    font-size: 32px;
    font-weight: bold;
    margin-left: 1%;
}

/* Styling for images shown on a page */
.pageImage {
    width: 75%;
    height: 75%;
    margin: 2%;
}

/* Styling rules for tables */
table{
    margin-left: 1%;
}
th {
    border: 1px solid #000;
    background-color: #add8e6;
    padding: 2%;
    width: 20%;
}

td {
    border: 1px solid #000;
    padding: 2%;
    width: 20%;
}

td:nth-child(odd) {
    background-color: #eee;
}

.mainText {
    padding-top: 1em;
    border-top: 2px solid #000;
    font-size: 24px;
    border-bottom: 2px solid #000;
}

/* Media Query for Tablet */
@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    .grid-storefront {
        grid-template-columns: auto auto auto;
    }
}

/* Media Query for Desktop */
@media screen and (min-width: 1280px) {

}