body {
    font-family: Arial, sans-serif;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5em;
    border-top: 2px solid #000;
    padding-top: 1em;
}

.footer {

}

.grid-storefront {
    grid-template-columns: auto;
}

form {
    max-width: 100%;
}

/* Media Query for Tablet */
@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    .grid-storefront {
        grid-template-columns: auto auto auto;
    }
}

/* Media Query for Desktop */
@media screen and (min-width: 1280px) {

}