body {
    font-family: Arial, sans-serif;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

footer {
    margin-top: 5em;
    border-top: 2px solid #000;
    padding-top: 1em;
}

.grid-storefront {
    grid-template-columns: auto;
}

/* Media Query for Tablet */
@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }
}

/* Media Query for Desktop */
@media screen and (min-width: 1280px) {

}